body {
  background:#ee3f54;
}

h1, h2, h3, h4, h5, h6, button {
  font-family: 'Bree Serif', serif;
}

#social-container {
  background: #1c3643;
}

#logo-container .callout {
  background-color: #ee3f54;
  color: white;
  margin-bottom: 0;
}

#menu-container {
  background-color: #48a19d;
}

#menu-container li a {
  color: white;
  font-family: 'Bree Serif', serif;
}

#menu-container li a:hover {
  color: #f6e15f;
}

#submenu-container {
  border: 0;
}

#submenu-container li a {
  background-color: #48a19d;
}

#tickets-action .callout {
  background-color: #5e7eb7;
  color: white;
  margin-bottom: 0;
}

#tickets-action .callout button {
  color: white;
  border: 1px solid white;
  font-family: 'Bree Serif', serif;
}

#lineup-container {
  padding: 1em 0;
}

#lineup-container,
#lineup-container .tabs,
#lineup-container .tabs-panel,
#lineup-container .tabs .tabs-title,
#lineup-container .tabs .tabs-title.is-active a {
  background-color: #9676af;
  color: white;
  border: 0;
  text-transform: uppercase;
  font-family: 'Bree Serif', serif;
  outline: none;
}

.tabs-content {
  border: 0;
}

#lineup-container .tabs .tabs-title a {
  font-size: 20px;
  color: #a7fffb;

}
#lineup-container .tabs .tabs-title a:hover {
  color: white;
  background-color: #9676af;
}

#lineup-container .orbit-container {
  margin-bottom: 1.5em;
}

#lineup-container .column:nth-child(odd) figcaption {
  text-align: right;
}

.tabs-title {
  display: inline-block;
  float: none;
}

.orbit-container {
  height: auto !important;

}

.orbit-slide {
  max-height: none !important;
}

#tickets-container {
  padding: 1em 0;
  background-color: #f6e15f;
  color: #161742;
}

.pricing-table {
  border: 1px solid #161742;
  font-family: 'Bree Serif', serif;
  margin-left: 0;
}

.pricing-table li {
  font-size: 15px;
}

.pricing-table li.title {
  font-size: 25px;
}

.pricing-table a.button {
  font-size: 17px;
}

#info-container {
  background-color: #161742;
  color: white;
  padding: 1em 0;
}

#info-container .info-map iframe {
  width: 100%;
}